.getStarted{
    background-image: linear-gradient(to right,  #783888, #F7A237
    );
}
.getStarted-bg{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.9))
}
.card-container{
    background: rgba(0,0,0,0.5)
}
.money-card{
    background: rgba(0,0,0,0.1);
}